<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>HelloController</display-name>
    <servlet-name>HelloController</servlet-name>
    <servlet-class>hoctap.controllers.HelloController</servlet-class>
    <init-param>
      <param-name>email</param-name>
      <param-value>hieudm@hcmute.edu.vn</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloController</servlet-name>
    <url-pattern>/HelloController</url-pattern>
  </servlet-mapping>
  <display-name>LTweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloForm</display-name>
    <servlet-name>HelloForm</servlet-name>
    <servlet-class>hoctap.controllers.HelloForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloForm</servlet-name>
    <url-pattern>/HelloForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloVN</display-name>
    <servlet-name>HelloVN</servlet-name>
    <servlet-class>hoctap.HelloVN</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloVN</servlet-name>
    <url-pattern>/HelloVN</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckBoxAction</display-name>
    <servlet-name>CheckBoxAction</servlet-name>
    <servlet-class>hoctap.controllers.CheckBoxAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckBoxAction</servlet-name>
    <url-pattern>/CheckBoxAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadParamsAction</display-name>
    <servlet-name>ReadParamsAction</servlet-name>
    <servlet-class>hoctap.ReadParamsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadParamsAction</servlet-name>
    <url-pattern>/ReadParamsAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateCookie</display-name>
    <servlet-name>CreateCookie</servlet-name>
    <servlet-class>hoctap.controllers.CreateCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCookie</servlet-name>
    <url-pattern>/createcookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadCookie</display-name>
    <servlet-name>ReadCookie</servlet-name>
    <servlet-class>hoctap.controllers.ReadCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadCookie</servlet-name>
    <url-pattern>/readcookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCookie</display-name>
    <servlet-name>DeleteCookie</servlet-name>
    <servlet-class>hoctap.controllers.DeleteCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCookie</servlet-name>
    <url-pattern>/deletecookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>hoctap.controllers.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>hoctap.controllers.HelloServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>CreateSession</display-name>
    <servlet-name>CreateSession</servlet-name>
    <servlet-class>hoctap.controllers.CreateSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateSession</servlet-name>
    <url-pattern>/CreateSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSession</display-name>
    <servlet-name>ShowSession</servlet-name>
    <servlet-class>hoctap.controllers.ShowSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSession</servlet-name>
    <url-pattern>/ShowSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>hoctap.controllers.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WaitingController</display-name>
    <servlet-name>WaitingController</servlet-name>
    <servlet-class>hoctap.controllers.WaitingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WaitingController</servlet-name>
    <url-pattern>/WaitingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeController</display-name>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>hoctap.controllers.admin.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/HomeController</url-pattern>
  </servlet-mapping>
</web-app>